<a href="https://colab.research.google.com/github/EduardaReis3332/Data-Science-IBM/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Science Tools and Ecosystem**

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languagens for Data Science
* List of some libraries commonly used by Data Scientists
* Table of some tools used by Data Scientists
* Examples of arithmetic expressions
* Code that adds and multiplies numbers
* Code that converts Number into Hours

**Some of the popular languagens that Data Scientists use are:**


1. Python
2. R Language
3. Scala

**Some of the commonly used libraries used by Data Scientists include:**

1. NumPy
2. Pandas
3. SciPy

| Data Science Tools |
|--------------------|
|    TensorFlow      |
|    PyTorch         |
|    Scikit-learn    |

### Below are a few exemples of evaluating arithmetic expressions in Python

2 + 3

10 - 5

4 * 7

9 / 3

11 % 2

2 ** 5

In [8]:
# This a simple arithmetic expression to mutiply then add integers

n1 = int(input("Enter the first value: "))
n2 = int(input("Enter the second value: "))

s = n1 + n2
m = n1 * n2

print("The sum of the values is: ", s)
print("The multiplication of the values is: ", m)

Enter the first value: 4
Enter the second value: 4
The sum of the values is:  8
The multiplication of the values is:  16

In [9]:
# This will convert 200 minutes em to hours by diving by 60

minutes = 200

hours = minutes // 60
minutes_left = minutes % 60

print(f"200 minutes equals {hours} hours and {minutes_left} minutes.")

200 minutes equals 3 hours and 20 minutes.

## Author
Eduarda Reis